venv/
.venv

*.pyc
__pycache__/
.idea/
.env
build/
dist/

Windows_Agent/Data/image_gen/*
!Windows_Agent/Data/image_gen/.gitkeep

Windows_Agent/Data/letters/*
!Windows_Agent/Data/letters/.gitkeep

Windows_Agent/Frontend/Files/*
!Windows_Agent/Frontend/Files/.gitkeep

Windows_Agent/Frontend/Graphics/*
!Windows_Agent/Frontend/Graphics/.gitkeep

Linux_Agent/Data/image_gen/*
!Linux_Agent/Data/image_gen/.gitkeep

Linux_Agent/Data/letters/*
!Linux_Agent/Data/letters/.gitkeep

Linux_Agent/Frontend/Files/*
!Linux_Agent/Frontend/Files/.gitkeep

Linux_Agent/Frontend/Graphics/*
!Linux_Agent/Frontend/Graphics/.gitkeep

bin/
.bin
.bin/